
.faq-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
}

.faq-overlay:target {
    visibility: visible;
    opacity: 1;
}

.faq-popup {
    margin: 30px auto;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    position: absolute;
    transition: all 500ms ease-in-out;
    max-height: 90vh;
    overflow: scroll;
    top: 5vh;
    bottom: 5vh;
    left: 5%;
    right: 5%;
}
.faq-search-input-wrapper{
    position: relative;
    display: inline-block;
}

.faq-popup .main-content{
    height: 75%;
    overflow: scroll;
}
.faq-popup .box {
    background: #fff;
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
}

.question-list{
    padding-left: 0;
}
.question-list li {
    padding-top: 10px;
}

.faq-popup .main-content{
    -ms-overflow-style: none;
}

.faq-popup .box .question {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}

.top-link{
    color: #999;
    font-size:12px;
    margin-top:15px;
}

.top-link .navigate-top::before {
    padding: 5px;
}

.popup-header{
    padding: 20px 20px 10px 20px;
    padding-left: 40px;
}

.faq-popup h2 {
    margin: 0;
    color: #333;
}

.faq-popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.faq-popup .close:hover {
    color: #d80606;
}

.faq-popup .content {
    overflow: auto;
}

.faq-popup .question-link:hover {
    font-weight: 600;
}

.faq-popup .navigate-top{
    cursor: pointer;
}
.question-list, .question-list a{
    color:  #3c3c3c;
}

body.faq-open {
    overflow: hidden;
    position: fixed;
}

.faq-searchbar-wrapper{
    padding-top: 20px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input.faq-searchbar {
    padding: 10px;
    background: #fff;
    border-radius: 40px;
    border: 1px solid rgba(170,173,177,0.5);
    width: 300px;
    outline: none;
    padding-left: 15px;
}

@media (max-width: 480px) {
    input.faq-searchbar{
        width: 100%;
    }
    .popup-header{
        padding-left: 20px;
    }

    .faq-search-input-wrapper{
        display: block;
    }

    .faq-search-input-wrapper svg{
        stroke: #7a7d80;
        top: 14px;
    }
}

.faq-category-title{
    padding-bottom: 0;
}
.faq-category-title span{
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #e1e1e1;
    line-height: 30px;
}
#qnsHeadForShopper, #qnsHeadForSeller{
    font-weight: 600;
    font-size: 17px;
}

#faq-popup .main-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
#faq-popup .main-content {
    -ms-overflow-style: none;
}

/*  Custom.css start*/
*{
    font-family: 'Roboto', sans-serif !important;
}

.AddNewListingButton_desktop{
    color: #000 !important;
}



/* Super Dark background*/

body, .wrapper, .left-navi a.selected{
    background: #18181B !important;
}

/* Tool Background*/

.home-toolbar-button-group-button:not(selected),
.home-no-listings,
.noUi-handle,
.Topbar, .MenuItem, .ProfileDropdown__box__T_uM4{
    background: #3A3A3D;
}
/* white font */

body,
.wrapper,
.home-toolbar-button-group-button:not(selected),
.home-no-listings,
.noUi-handle,
.home-categories-main,
.Topbar, .Topbar a, .menu__label,
.left-navi-link
{
    color: #fff !important;
}

.SearchBar__keywordInput__2HTav::placeholder,
.SearchBar__keywordInput__2HTav:hover::placeholder,
.SearchBar__keywordInput__2HTav:active::placeholder,
.SearchBar__form__27PQI:hover,
.SearchBar__keywordInput__2HTav,
.SearchBar__form__27PQI:hover .SearchBar__locationInput__3g__8{
    color: #fff !important;
}

.SearchBar__form__27PQI:hover,
.SearchBar__keywordInput__2HTav,
.SearchBar__form__27PQI:hover .SearchBar__locationInput__3g__8{
    color: #fff !important;
}




/*Theme color as font color*/
.home-categories-main.selected,
.MenuItem__menuitemLink__2Eedg:focus, .MenuItem__menuitemLink__2Eedg:hover,
.MenuPriority__priorityLink__moBbL:focus, .MenuPriority__priorityLink__moBbL:hover,
.Menu__menu__1nYnK:focus .Menu__menuLabel__17fat,
.Menu__menu__1nYnK.Menu__openMenu__3L78f .Menu__menuLabel__17fat,
.Menu__menu__1nYnK.Menu__openOnHover__2oCiU:hover .Menu__menuLabel__17fat,
.left-navi a.selected
{
    color: #04ffe1 !important;
}

/*Theme color as background color*/
button{
    background: #04ffe1;
}

/*Black font over button etc*/
.home-toolbar-button-group-button.selected,
button,
button:hover, .button:hover, .big-button:hover,
.inline-big-button:hover, .tribe-actions a:hover, .marketplace-lander button.action-button:hover,
.home-toolbar-button-group-button:hover, .home-toolbar-show-filters-button:hover,
.enabled-book-button:hover, .disabled-book-button:hover, .message-book-button:hover,
.listing-shape-delete-button:hover, .button{
    color: #3A3A3D !important;
}

/*Menu dropdown icon css*/
.menu__label path,
.ProfileDropdown__profileActions__34o4h path{
    fill: #fff;
}

.Menu__menu__1nYnK:focus .Menu__menuLabelIcon__3gpCG g,
.Menu__menu__1nYnK:focus .Menu__menuLabelDropdownIcon__1QkrJ path,
.Menu__menu__1nYnK.Menu__openMenu__3L78f .Menu__menuLabelIcon__3gpCG g,
.Menu__menu__1nYnK.Menu__openMenu__3L78f .Menu__menuLabelDropdownIcon__1QkrJ path,
.Menu__menu__1nYnK.Menu__openOnHover__2oCiU:hover .Menu__menuLabelIcon__3gpCG g,
.Menu__menu__1nYnK.Menu__openOnHover__2oCiU:hover .Menu__menuLabelDropdownIcon__1QkrJ path{
    fill: #04ffe1;
}

#home_toolbar-select-share-type{
    display: none;
}

.SearchBar__keywordInput__2HTav::placeholder,
.SearchBar__keywordInput__2HTav::placeholder{
    opacity: 1; /* Firefox */
}



.home-toolbar-button-group-button:nth-child(3){
    display: none;
}
.home-toolbar-button-group-button:nth-child(2){
    -moz-border-radius-topright: 0.375em;
    -webkit-border-top-right-radius: 0.375em;
    border-top-right-radius: 0.375em;
    -moz-border-radius-bottomright: 0.375em;
    -webkit-border-bottom-right-radius: 0.375em;
    border-bottom-right-radius: 0.375em;
}

.ProfileDropdown__profileAction__1H9nm:hover{
    background-color: #29292C;
}
